body{
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
}

h1 {
  font-size: 24px;
  color: chartreuse;
  font-weight: 900;
  letter-spacing: 2px;
}

h2 {
  font-size: 22px;
  color: rgb(4, 0, 255);
  font-weight: 800;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 20px;
  color: rgb(255, 0, 98);
  font-weight: 700;
  letter-spacing: 1.6px;
}

h4 {
  font-size: 18px;
  color: rgb(0, 255, 213);
  font-weight: 600;
  letter-spacing: 1.4px;
}

h5 {
  font-size: 16px;
  color: rgb(200, 255, 0);
  font-weight: 500;
  letter-spacing: 1.2px;
}

h6 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2;
  font-size: 20px;
  color: aqua;

}

.hero .hero-actions .btn.btn-primary {
  background-color: blueviolet;
  color: crimson;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.hero .hero-actions .btn.btn-primary:hover{
  background-color:rgb(4, 0, 255)
}

.hero .hero-actions .btn.btn-primary:active {
  background-color: darkgreen;
}

#portfolio {
    padding: 10px 0;
    margin: 10px 0; 
}

#portfolio .portfolio-item {
    background-color: #21422c;
    border: 0.1px solid #22f307;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    transition: 0.3s;
}


#portfolio .portfolio-item:hover {
    box-shadow: 0 6px 18px rgb(255, 0, 0);
    transform: translateY(-4px);
}



#scroll-top {
    background-color: #ff6600;
}

.social-links a {
  background-color: #22f307;
}



.bi-github {
    color: #a8209d;    
    font-size: 28px;    
    transition: 0.3s;    
}

.bi-github:hover {
    color: #6e5494; 
    transform: scale(1.2); 
}



.portfolio-filters {
    list-style: none;
    padding-left: 0;
}

.portfolio-filters li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
}

.portfolio-filters li::before {
    content: "+";
    left: 0;
    color: #ff0000;
    font-size: 25px;
}




.navmenu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}


.navmenu > ul > li > a {
    display: block;
    padding: 10px 20px;
    color: #d10f0f;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.navmenu > ul > li > a:hover {
    background-color: #007bff;
    color: #fff;
}


.navmenu ul li ul {
    display: none;
    padding-left: 15px;
    margin-top: 5px;
    border-left: 2px solid #007bff; 
}


.navmenu ul li:hover > ul {
    display: block;
}


.navmenu ul li ul li ul {
    padding-left: 15px;
    border-left: 2px solid #ff6600;
}


.navmenu ul li ul li a {
    padding: 8px 15px;
    font-size: 14px;
    color: #00ff62;
}

.navmenu ul li ul li a:hover {
    background-color: #0066ff;
    color: #007bff;
}


.toggle-dropdown {
    margin-left: 5px;
    font-size: 12px;
}




.services-table {
  width: 100%;
  border-collapse: collapse; 
  text-align: center;        
  font-family: Arial, sans-serif;
}


.services-table thead th {
  background-color: #007bff;  
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}

.services-table tbody tr:nth-child(even) {
  background-color: #817575;
}


.services-table tbody tr:hover {
  background-color: #998e8e;

}


.services-table td {
  padding: 12px;      
  border: 1px solid #a18f8f;
}
